@import "./base/_resets.scss";
@import "./base/_theme.scss";

body {
  font-family: sans-serif;
  font-size: clamp(1.15rem, 2vw, 1.3rem);
  line-height: 1.7em;
}

.Content {
  width: 100%;
  min-height: 100vh;
  padding: 16px;
  display: grid;
  justify-items: center;
}
